main{
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.inputs{
    max-width: 10rem;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}

table{
    margin: 50px auto;
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid #000;
}

th, td {
    padding: 5px;
}
